* {
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: 18px;
}

a {
  text-decoration: none;
}

a,
p {
  color: $black;
}

.page-content {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;

  @media #{$medium-up} {
    width: 80%;
  }
}
