.c-btn {
  text-decoration: none;
  line-height: 1;
  margin: 0;
  color: $primary;
  position: relative;
  padding: 0.8em 2em;
  display: inline-block;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 100%;
    // height: 100%;
    border: 2px solid $primary;
    transition: all 300ms ease;
  }

  &:after {
    transform: translate(4px, -4px)
  }

  &:before {
    transform: translate(-4px, 4px)
  }

  &:hover {

    &:before,
    &:after {
      transform: translate(0, 0)
    }
  }
}
