.c-title {
  text-transform: uppercase;
  margin: auto auto 0.5em;
  font-size: 7em;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  color: #333;  /* Fallback: assume this color ON TOP of image */
  z-index: 3;
  opacity: 0;
}
