.c-title {
  text-transform: uppercase;
  margin: auto auto 0.25em;
  font-size: 7em;
  line-height: 1;
  font-family: $secondary-font;
  font-weight: bolder;
  letter-spacing: 0.1em;
  z-index: 3;
  display: block;
}
