.c-heading {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.c-heading--primary {
  border-bottom: 1px solid $black;
  margin-bottom: 1.5em;
}

.c-paragraph {
  margin: 0 auto;
  text-align: center;
  max-width: 750px;
}

.c-title {
  text-align: center;
  text-transform: uppercase;
  margin: auto 0.25em;
  font-size: 3.3em;
  line-height: 1;
  font-family: $secondary-font;
  font-weight: bolder;
  z-index: 3;
  display: block;
  letter-spacing: 0.05em;
  div:nth-child(5) {
    width: 100%;
  }
}

@media #{$smedium-up} {
  .c-title {
    font-size: 4.5em;
    margin: auto auto 0.25em;

    @media #{$landscape} {
      div:nth-child(5) {
        width: auto;
      }
    }
  }
}

@media #{$medium-up} {
  .c-title {
    font-size: 5em;
  }
}

@media #{$large-up} {
  .c-title {
    font-size: 7em;
    letter-spacing: 0.1em;
  }
}

.c-subtitle {
  font-family: $secondary-font;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.c-page-title {
  margin-bottom: 0.5rem;
  text-align: left;
}
