.p-neighborhood {

  &:not(:last-of-type) {
    padding-bottom: 3em;
  }

  &--header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      opacity: 0.3;
      z-index: -1;
    }

    &--content {
      position: absolute;
      top: 0;
      left: 0.5rem;
      right: 0.5rem;
      bottom: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .c-heading {
      text-align: left;
      margin: 0 0 0.7rem 0;
    }

    .c-heading,
    ul {
      text-align: center;
      // margin-left: 50%;
    }

    li {
      display: inline-block;
      font-weight: 400;
      letter-spacing: 1px;

      &:not(:last-of-type):after {
        content: "|";
        margin: 0 0.25rem;
      }
    }

    p {
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1.4;
    }
  }

  &--body {
    padding: 2rem 0;

    .l-col {
      text-align: center;
    }

    h4 {
      font-family: $primary-font;
      font-size: 1.2em;
      opacity: 0.6;
    }

    p {
      font-size: 0.9em;
      line-height: 1.6;
      font-weight: lighter;
    }

    a:not(:last-of-type):after {
      content: '|';
      margin: 0 0.25rem;
    }
  }

}


@media #{$medium-up} {
  .p-neighborhood {

    &:not(:last-of-type) {
      padding-bottom: 8em;
    }

    &--header--content {
      padding-bottom: 10%;
      justify-content: flex-end;
    }

    &--body {

    }

  }
}
