.v-index {

  .p-page-section a.c-btn {
    margin-top: 2.5em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.v-where-to-stay {

  .p-hero:before {
    content: '';
    background-image: url('../../assets/images/logan-circle.jpg')
  }
}

.v-schedule {

  .p-hero:before {
    content: '';
    background-image: url('../../assets/images/capitol-hill-presbyterian.JPG');
  }
}
