.l-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.l-col {
  width: 100%;
}

@media #{$smedium-up}, #{$landscape} {

  .l-row {
    flex-wrap: no-wrap;
  }

  .l-col {
    width: auto;
    flex: 1;
  }

}
